body {
    background-color: #000000;
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background: transparent;
}

.logo {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin-left: 4rem;
}
.about {
    margin-right: 2rem;
}

.contact-btn, .about {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    background-color: rgba(143, 143, 143, 0.2);
    border: 1px solid rgba(102, 102, 102, 0.5);
    border-radius: 50px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.contact-btn, .about:hover {
    background-color: #76b0ab37;
}

ul {
    display: flex;
    list-style: none;
}


main {
    background-image: linear-gradient(to bottom, transparent 80%, #2b1d0e 100%), linear-gradient(rgba(166, 128, 201, 0.377), rgba(119, 77, 13, 0.493)), url('images/lofi-bedroom-night-5120x2880-15300.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 10%;
    position: relative;
}

.title-section {
    background: none;
    height: auto;
    padding: 0;
}


main h1{
    position: relative;
    z-index: 1;
    text-align: left;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 1;
    background-image: linear-gradient(to right, #b379ff, #ffbb00);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}

main h2 {
    position: relative;
    z-index: 1;
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.6;
    margin-top: 2rem;
    text-shadow: 
    1px 1px 2px rgba(0,0,0,0.8), 
    0 0 25px rgba(0,0,0,0.4);
}

.circle-3D {
    z-index: 0;
    clip-path: inset(25% 23% 15% 25%);
    position: absolute;
    top: -14%;
    right: -30%;
    width: 130%;
    height: 130%;
}

.scroll-down {
    height: 5rem;
    width: 2rem;
    position: absolute;
    left: 5%;
    bottom: 5%;
    border-radius: 50px;
    border: 2px solid rgba(211, 211, 211, 0.5);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    z-index: 5;
}

.scroll-down::before, .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid lightgray;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 3s ease-in-out infinite;
}

.scroll-down::before {
    top: 30%;
    animation-delay: 0.8s;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
    }
    30%, 60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%;
    }
}


.about-section {
    position: relative;
    padding: 100px 5%;
    min-height: 100vh;
    background: linear-gradient(to bottom, #2b1d0e 0%, #1a1226 50%, #0f0a1a 100%);
}

.about-title {
    background-image: linear-gradient(to right, #b379ff, #ffbb00);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.about-text {
    flex: 1;
    margin-top: 0;
    padding: 0;
    width: auto;
}

.about-text p {
    line-height: 2rem;
    margin-top: 2rem;
}



.profile-container {
    flex-shrink: 1;
    flex-wrap: wrap;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-circle {
    max-width: 400px;
    max-height: 400px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(179, 121, 255, 0.4), 
                inset 0 0 20px rgba(0, 0, 0, 0.5);
}


.profile-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9);
}

.tech-section {
    position: relative;
    background: linear-gradient(to bottom, #0f0a1a 0%, #11111d 100%);
    min-height: 100vh;
}

.project-section {
    position: relative;
    background: linear-gradient(to bottom, #11111d 0%, #121212 20%, #000000 100%);
    padding: 100px 5%;
    min-height: 100vh;
}

.contact-section {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(to bottom, #000000 0%, #131016 20%, #1c0e29 50%, #2b074d 75%, #3b0875f6 100%);
    padding: 100px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-title {
    background-image: linear-gradient(to right, #b379ff, #ffbb00);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

.tech-content{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.tech-text{
    flex: 1;
    margin-top: 10px;
    padding: 0;
    width: auto;
}

.tech-text p {
    line-height: 2rem;
    margin-top: 2rem;
}

.icon-container {
    margin-top: 70px;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    padding: 3rem;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tech-icons {
    padding: 10px;
    border-radius: 10px;
    background-color: #000000;
    width: 100px;
    height: 100px;

}

.tech-icons img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.tech-icons:hover {
    transform: translateY(-1px) scale(1.1);
    border-color: #b379ff;
    box-shadow: 0 0 20px rgba(179, 121, 255, 0.3);
    cursor: pointer;
}
